.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    min-width: 300px;
  }
}

.box-btn {
  border: none;
  background-color: #ffe056;
  box-shadow: 1px 1px 4px 0px rgb(105, 105, 105);
  font-weight: 500;
  color: #1d1d1d;

  &:hover {
    background-color: #e4c127;
  }
}
